
{% for field in form %}
	<div class="form-group regform">
		<div class="col-sm-12">
			<span class="text-danger small"> {{field.errors}}</span>
		</div>
		<label class="control-label col-xs-12">{{field.label_tag}}</label>
		<div class="col-sm-12">{{field}}</div>
	</div>
{% endfor %}


<script>

	$( document ).ready(function() {
	    document.getElementById("id_username").setAttribute("required", "");
	    document.getElementById("id_email").setAttribute("required", "");
	    document.getElementById("id_password").setAttribute("required", "");
	});
</script>


