{% extends 'login/base.html' %}
<h3>Home</h3>

{% block body %}

{% include 'login/sidebar.html' %}
<div class="main">
<!-- Content Here -->

	<div class="container">
	    <div class="row">
	        <form action="/tasks/add-task-list/" method="post">
	        	{% csrf_token %}
	        	{{ form }}
	        	<button type="submit">Add List</button>
	        </form>
	    </div>
	</div>
</div>



<!--

<h1>Welcome {{ user.username }}!</h1>

   <a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off"></i> Logout</a>

{% for announce in all_tasks_by_user %}
<h1>{{announce.owner}}</h1>
    <p>{{announce.list_title}}</p>

{% endfor %}
-->

<script>
function htmlbodyHeightUpdate(){
		var height3 = $( window ).height()
		var height1 = $('.nav').height()+50
		height2 = $('.main').height()
		if(height2 > height3){
			$('html').height(Math.max(height1,height3,height2)+10);
			$('body').height(Math.max(height1,height3,height2)+10);
		}
		else
		{
			$('html').height(Math.max(height1,height3,height2));
			$('body').height(Math.max(height1,height3,height2));
		}
		
	}
	$(document).ready(function () {
		htmlbodyHeightUpdate()
		$( window ).resize(function() {
			htmlbodyHeightUpdate()
		});
		$( window ).scroll(function() {
			height2 = $('.main').height()
  			htmlbodyHeightUpdate()
		});
	});
</script>
  
{% endblock %}


