{% extends 'login/base.html' %}
{% block title %}Register{% endblock %}
{% block body %}


<div class="container">
	<div class="row loginform">
		<div class="col-md-4 col-md-offset-4">
			<div class="form-body">
				<ul class="nav nav-tabs final-login">
			        <li class="active"><a data-toggle="tab" href="#sectionA">Sign In</a></li>
			        <li><a data-toggle="tab" href="#sectionB">Join us!</a></li>
			    </ul>
			    <div class="tab-content">
    <div id="sectionA" class="tab-pane fade in active">
        <div class="innter-form">
            <form class="sa-innate-form" method="post" action="/">
            		{% csrf_token %}
		            <label>Username</label>
		            <input type="text" name="username" required>
		            <label>Password</label>
		            <input type="password" name="password" required>
		            <button type="submit">Sign In</button>
		            <!--<a href="">Forgot Password?</a>-->
            </form>
            </div>
            <!--
            <div class="social-login">
            <p>- - - - - - - - - - - - - Sign In With - - - - - - - - - - - - - </p>
    		<ul>
            <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href=""><i class="fa fa-google-plus"></i> Google+</a></li>
            <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
            </ul>
            </div>
        -->
            <div class="clearfix"></div>
        </div>
        <div id="sectionB" class="tab-pane fade">
			<div class="innter-form">
           <form class="sa-innate-form" method="post" action="/register/">
		            {% csrf_token %}
					{% include 'login/form_template.html' %}
		            <button type="submit">Join now</button>
		            <!--<a href="">Forgot Password?</a>-->
            </form>
            </div>
            <!--
            <div class="social-login">
            <p>- - - - - - - - - - - - - Register With - - - - - - - - - - - - - </p>
			<ul>
            <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href=""><i class="fa fa-google-plus"></i> Google+</a></li>
            <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
            </ul>
            </div>
        -->
        </div>
    </div>

			</div>
		</div>
	</div>
</div>

{% endblock %}