<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav" style="width: 100%;">
				
				<li id="home" class=""><a href="/home">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				
				<!--<li ><a href="#">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>-->
				<!--<li ><a href="#">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>-->
				
				<li id="tasks" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						{% for tasks in task_list %}
						
						<li><a href="/tasks/{{ tasks.pk }}">{{ tasks.list_title}}</a></li>
						<!--<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li class="divider"></li>
						<li><a href="#">One more separated link</a></li>-->
					
						{% endfor %}
					</ul>
				</li>
				
				
				
			</ul>
		</div>
	</div>

	<div class="container-fluid">
		<a href="{% url 'logout' %}">
			<div class="row" style="margin: 0;text-align: center;background: white;">
				<h4>LOG OUT</h4>
			</div>
		</a>
	</div>
</nav>

<script>
	$( document ).ready(function() {
		var path = location.pathname.split('/')[1];
	    if( path == "home"){
	    	$('#home').addClass('active')
	    }else if(path == "tasks"){
	    	$('#tasks').addClass('open')
	    }
	});

</script>