{% extends 'login/base.html' %}
<h3>Home</h3>

{% block body %}

{% include 'login/sidebar.html' %}
<div class="main">
<!-- Content Here -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>Todos</h1>
             <form method="post" action="add/">
                {% csrf_token %}
                {{ add_form }}
                <input type="hidden" name="next" value="{{ request.path }}">
                <!--<input name="taskname" type="text" class="form-control add-todo" placeholder="Add todo">-->
                <button type="submit" id="checkAll" class="btn btn-success">Add</button>
              </form>      
                    <hr>
                    <ul id="sortable" class="list-unstyled">
                    {% if task_details %}
                        {% for task in task_details %}
                            {% if not task.is_done %}
                        <li class="ui-state-default">
                            <div class="checkbox">
                                <label>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input name="is_done" id="truebox" onclick='this.form.submit();' type="checkbox" value="1" />{{ task }}
                                        <input name="pk" type="hidden" value="{{task.pk}}">
                                    </form>
                                </label>
                            </div>
                        </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
             <h1>Already Done</h1>
                <ul id="done-items" class="list-unstyled">
                    {% if task_details %}
                        {% for task in task_details %}
                            {% if task.is_done %}
                    <form action="delete/{{task.pk}}/" method="post">
                        {% csrf_token %}
                        <li>{{ task }} <button type="submit" class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                        <input type="hidden" name="next" value="{{ request.path }}">
                    </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </div>
</div>
</div>



<!--

<h1>Welcome {{ user.username }}!</h1>

   <a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off"></i> Logout</a>

{% for announce in all_tasks_by_user %}
<h1>{{announce.owner}}</h1>
    <p>{{announce.list_title}}</p>

{% endfor %}
-->

<script>
function htmlbodyHeightUpdate(){
        var height3 = $( window ).height()
        var height1 = $('.nav').height()+50
        height2 = $('.main').height()
        if(height2 > height3){
            $('html').height(Math.max(height1,height3,height2)+10);
            $('body').height(Math.max(height1,height3,height2)+10);
        }
        else
        {
            $('html').height(Math.max(height1,height3,height2));
            $('body').height(Math.max(height1,height3,height2));
        }
        
    }
    $(document).ready(function () {
        htmlbodyHeightUpdate()
        $( window ).resize(function() {
            htmlbodyHeightUpdate()
        });
        $( window ).scroll(function() {
            height2 = $('.main').height()
            htmlbodyHeightUpdate()
        });
    });
    /* Add Task Form scripts */
    $( document ).ready(function() {
        document.querySelectorAll("form label")[0].outerHTML = "";
        var element = document.getElementById("id_task_name");
        element.classList.add("form-control");
        element.classList.add("add-todo");
    });
    
</script>

<script>
$("#sortable").sortable();
$("#sortable").disableSelection();

countTodos();

// all done btn
$("#checkAll").click(function(){
    AllDone();
});

//create todo
$('.add-todo').on('keypress',function (e) {
      e.preventDefault
      if (e.which == 13) {
           if($(this).val() != ''){
           var todo = $(this).val();
            createTodo(todo); 
            countTodos();
           }else{
               // some validation
           }
      }
});
// mark task as done
$('.todolist').on('change','#sortable li input[type="checkbox"]',function(){
    if($(this).prop('checked')){
        var doneItem = $(this).parent().parent().find('label').text();
        $(this).parent().parent().parent().addClass('remove');
        done(doneItem);
        countTodos();
    }
});

//delete done task from "already done"
$('.todolist').on('click','.remove-item',function(){
    removeItem(this);
});

// count tasks
function countTodos(){
    var count = $("#sortable li").length;
    $('.count-todos').html(count);
}

//create task
function createTodo(text){
    var markup = '<li class="ui-state-default"><div class="checkbox"><label><input type="checkbox" value="" />'+ text +'</label></div></li>';
    $('#sortable').append(markup);
    $('.add-todo').val('');
}

//mark task as done
function done(doneItem){
    var done = doneItem;
    var markup = '<li>'+ done +'<button class="btn btn-default btn-xs pull-right  remove-item"><span class="glyphicon glyphicon-remove"></span></button></li>';

    $('.remove').remove();
}

//mark all tasks as done
function AllDone(){
    var myArray = [];

    $('#sortable li').each( function() {
         myArray.push($(this).text());   
    });
    
    // add to done
    
    
    // myArray
    $('#sortable li').remove();
    countTodos();
}

//remove done task from list
function removeItem(element){
    
}
</script>
  
{% endblock %}


